<div class="modal-header">
  <button type="button" class="close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">{{contact.fullName}}</h4>
</div>
<div class="modal-body" style="min-height: 300px;">
  <form>
    <div class="form-group row">
      <label for="firstName" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-5" [class.has-danger]="validationResults.firstName">
        <input type="text" [focus]="focusEventEmitter" class="form-control" name="firstName" placeholder="First Name" [(ngModel)]="contact.firstName">
      </div>
      <div class="col-sm-5" [class.has-danger]="validationResults.lastName">
        <input type="text" class="form-control" name="lastName" placeholder="Last Name" [(ngModel)]="contact.lastName">
      </div>
    </div>
    <div class="form-group row"  [class.has-danger]="validationResults.addressLine1">
      <label for="addressLine1" class="col-sm-2 col-form-label">Address</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="addressLine1" placeholder="Street Address" [(ngModel)]="contact.addressLine1">
      </div> 
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <input type="text" class="form-control" name="addressLine2" placeholder="Street Address Line 2" [(ngModel)]="contact.addressLine2">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-4" [class.has-danger]="validationResults.city">
        <input type="text" class="form-control" name="city" placeholder="City" [(ngModel)]="contact.city">
      </div>
      <div class="col-sm-3"  [class.has-danger]="validationResults.state">
        <select name="state" class="form-control" [(ngModel)]="contact.state">
          <option *ngFor="let state of (contactService.states$ | async)" [value]="state.abbreviation">{{state.state}}</option>
        </select>
      </div>
      <div class="col-sm-3"  [class.has-danger]="validationResults.zip">
        <input type="text" class="form-control" name="zip" placeholder="Zip Code" [(ngModel)]="contact.zip">
      </div>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-sm-2 col-form-label">Phone</label>
      <div class="col-sm-4">
        <input type="tel" class="form-control" name="phone" placeholder="Primary Phone" [(ngModel)]="contact.phoneNumber"
          [textMask]="{mask: phoneNumberMask}">
      </div>
      <div class="col-sm-3">
        <input type="tel" class="form-control" name="phone2" placeholder="Alternate Phone" [(ngModel)]="contact.alternatePhoneNumber"
          [textMask]="{mask: phoneNumberMask}">
      </div>
      <div class="col-sm-3">
        <input type="tel" class="form-control" name="fax" placeholder="Fax" [(ngModel)]="contact.faxNumber"
          [textMask]="{mask: phoneNumberMask}">
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="email" placeholder="Email" [(ngModel)]="contact.email"
          [textMask]="emailMaskMask">
      </div>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="altEmail" placeholder="Alternate Email" [(ngModel)]="contact.alternateEmail"
          [textMask]="emailMaskMask">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cancel()">Close</button>
  <button type="button" class="btn btn-primary" (click)="save()">Save changes</button>
</div>