<div class="jumbotron">
  <h1>Contact Manager</h1>
  <hr>
  <button class="btn btn-primary" (click)="createNewContact()">
    <i class="fa fa-plus" aria-hidden="true"></i> New Contact
  </button>
</div>
<div class="row">
  <div *ngFor="let contact of (contacts$ | async)" class="col-lg-4 col-sm-6 col-xs-12">
    <contact-card [contact]="contact" (deleteClicked)="deleteContact(contact)"></contact-card>
  </div>
</div>
<div class="row text-xs-center">
  <nav>
    <ul class="pagination">
      <li class="page-item" [class.active]="page === activePage" *ngFor="let page of (contactPages$ | async)">
        <a class="page-link" href="javascript:void(0)" (click)="loadPage(page)">{{page + 1}}</a>
      </li>
    </ul>
  </nav>
</div>